body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#div1 {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: block;
}

.flex-container-header {
    display: flex;
    background-color: rgba(0, 100, 0, 0.53);
    margin: 0;
    padding-top: 8px;
    flex: 3;
    gap: 900px;
}
.firstimg {
    height: 100px;
    width: 100px;
    padding-left: 85px;
}
.nav {
    display: flexbox;
    position: right;
    align-items: flex-end;
    flex: 1;
    font-size:  20px;
    align-items: flex-end;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flex-container-two {
     display: flex;
     background-color: rgba(0, 100, 0, 0.53);
     align-items: center;
     gap: 80px;
     align-content: stretch;
     padding: 15px
}
.one {
    display: flex;
    flex-direction: column;
    border: white 3px solid;
    margin-right: 400px;
}

#two img {
    width: 350px;
    height: 225px;
    margin-left: -390px;
}

.now {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: -80px;
}
h2{
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}

h3 {
    font-size: 15px;
}

h4 {
    font-size: 12px;
    padding-left: 20px;
}

.flex-container-three {
    display: flex;
    padding: 30px;
    margin: 10px;
    font: 30px;
    gap: 40px;
    align-content: center;
}
img {
    width: 250px;
    height: 150px;
    padding-left: 42%;
}

.cut {
    padding-left: 79%;
    font-size: 40px;
}

.edge {
    padding-left: 77%;
    font-size: 40px;
}

.hedge, .blow {
    padding-left: 67%;
    font-size: 40px;
}

.flex-container-four {
    display: flex;
    background-color: rgb(149, 149, 149);
    gap: 300px;
    padding: 100px;
    font-size: 20px;
    font-style: italic;
    color: aqua;
}

.flex-container-five {
    display: flex;
    background: round rgb(6, 160, 212) 20px;
    margin: 60px;
    gap: 825px;
    margin-right: 75px;
}
#text-one {
    text-align: flex-start;
    color: white;
    padding-left: 20px;
}
.button { 
    gap:  45px;
    margin-top: 28px;
    margin-left: 20px;
}